<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854098827618-epdjlo2vkckadoa775q2ls3fvsvnscni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854098827618-epdjlo2vkckadoa775q2ls3fvsvnscni</string>
	<key>API_KEY</key>
	<string>AIzaSyC5qBmY3afg94jndic3otryJPfKoGqRhBI</string>
	<key>GCM_SENDER_ID</key>
	<string>854098827618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ridersApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ridersapp-c1273</string>
	<key>STORAGE_BUCKET</key>
	<string>ridersapp-c1273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854098827618:ios:5aa072595ac385bd9c343b</string>
</dict>
</plist>