<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854098827618-snjbieiub2rls3dg8gsm1u1q481ocsk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854098827618-snjbieiub2rls3dg8gsm1u1q481ocsk8</string>
	<key>API_KEY</key>
	<string>AIzaSyC5qBmY3afg94jndic3otryJPfKoGqRhBI</string>
	<key>GCM_SENDER_ID</key>
	<string>854098827618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ridersApp</string>
	<key>PROJECT_ID</key>
	<string>ridersapp-c1273</string>
	<key>STORAGE_BUCKET</key>
	<string>ridersapp-c1273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854098827618:ios:d5b46531a7283f479c343b</string>
</dict>
</plist>